@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.paragraph-color {
  color: #727272;
  margin-bottom: 1.5rem;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 25px;
  border: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
}
img{
    width: 100%;  
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 12rem;
}
.nav-title {
  font-size: 3rem;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu li {
  list-style: none;
  margin-right: 2rem;
}
.nav-menu li a {
  text-decoration: none;
  color: #424242;
}
.header-container {
  margin: 0 25rem;
  text-align: center;
}
.header-title {
  font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.img-container{
    margin: 2.4rem 12rem;
}

.feature-container{
    display: flex;
    margin: 10px 18rem;
    align-items: center;
}

.feature-image{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.feature-content{
    width: 50%;
    margin-left: 4rem;
}
.feature-title{
    margin-bottom: 1rem;
    color: #727272;
    font-weight: 500;
    font-size: 2.7rem;
}
.our{
    color: #131313;
    font-weight: 700;
}
.feature{
    color: #FF900E;
    font-weight: 700;
}


/* for mobile screen  */
@media only screen and (max-width:1200px){
    .nav-container, .header-container, .img-container, .feature-container{
        flex-direction: column;
        margin: 10px .5rem;
        text-align: center;
        align-items: center;
    }
    .feature-content{
        margin: 10px 1rem;
        width: 100%;
    }
    .feature-image{
        grid-template-columns: 1fr;
        width: 100%;
    }
    
}

@media only screen and (max-width:992px){
    .nav-container, .header-container, .img-container, .feature-container{
        flex-direction: column;
        margin: 10px .5rem;
        text-align: center;
        align-items: center;
    }
    .feature-content{
        margin: 10px 1rem;
        width: 100%;
    }
    .feature-image{
        grid-template-columns: 1fr;
        width: 100%;
    }
    
}
@media only screen and (max-width:576px){
    .nav-container, .nav-menu, .header-container, .img-container, .feature-container{
        flex-direction: column;
        margin: 10px 1rem;
        text-align: center;
    }
    .nav-menu{
        gap: 10px;
    }
    .feature-content{
        margin: 10px 1rem;
        width: 100%;
    }
    .feature-image{
        grid-template-columns: 1fr;
        width: 100%;
    }
}
